.body {
    background-image: url("../assets/images/checkerboard-cross.png");
}

.jumbotron {
    background-color: transparent;
    border-bottom: 3px solid gray;
    color: white;
    padding:0px;
}

.header-content {
    margin: 0 auto;
    text-align: center;
    border-bottom: 3px solid gray;
}

.header-name {
    background-color: teal;
    height: 100%;
    width: 100%;
    padding: 20px;
    color: white;
}

#me {
    width:30%;
}